*{
     margin : 0;
     padding :0;
font-family : sans-serif;
}
body {
           background-image : url(https://user-images.githubusercontent.com/71831106/95833340-1a559980-0d59-11eb-859c-a3aabffed106.jpeg);
           background-size : cover;
           background-position : center;
           box-sizing : border-box;
           font-family : sans-serif;
}
.menu {
          background-color : #40455a;
}
.menu li {
   display : inline-flex;
   margin : 50px;
   cursor : pointer;
   }  
  .menu li a{
     text-decoration : none;
       color :#fff;
       }
.active {
       color : #fff ! important ;
}


