*{
     margin : 0;
     padding :0;
font-family : sans-serif;
}
body {
           background-size : cover;
           background-position : center;
           box-sizing : border-box;
           font-family : sans-serif;
}
.menu {
          background-color : #40455a;
}
.menu li {
   display : inline-flex;
   margin : 50px;
   cursor : pointer;
     color : #ffffff;
}
.active {
       color : #19dafa ! important ;
}


